amqp==5.0.6
anyjson==0.3.3
billiard==3.6.4.0
Django==3.2.7
django-timezone-field==4.2.1
python-crontab==2.5.1
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.6
gunicorn
django-crispy-forms
django-flatpickr==1.0.1